################################
# OS
################################
.DS_Store
Thumbs.db

################################
# IDE (Global)
################################
.idea/
.vscode/
*.iws
*.iml
*.ipr

################################
# Build outputs (Global)
################################
.gradle/
build/
out/
bin/

################################
# Logs
################################
*.log
logs/

################################
# Backend - Spring Boot (Secrets)
################################
smart-factory/src/main/resources/application*.yml
smart-factory/src/main/resources/application*.properties

################################
# STS / Eclipse
################################
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

################################
# Runtime / DB
################################
runtime/
postgres-data/

################################
# Mosquitto
################################
mosquitto/data/
mosquitto/log/

################################
# Docker / Environment
################################
.env
.env.*
*.env

################################
# Keep Gradle Wrapper
################################
!backend/gradle/wrapper/gradle-wrapper.jar